#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.WalletConnector {
  display: flex;
  justify-content: space-between;
}

.WalletConnector h1 {
  margin: 0;
}

.BalanceManager {
  max-width: 800px;
  margin: 12px auto;
  text-align: left;
}

img.logo {
  width: 640px;
}

p {
  max-width: 800px;
  margin: 12px auto;
  text-align: left;
}

ul {
  max-width: 800px;
  margin: 12px auto;
  text-align: left;
}