@font-face {
  font-family: 'NanumGothicCoding';
  src: url('/fonts/NanumGothicCoding-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumGothicCoding';
  src: url('/fonts/NanumGothicCoding-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: NanumGothicCoding, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;

  background-color: #F9FEFF;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}